/* style.css */ 
body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* style the main heading */ 
h1 { 
    color : rgba(255, 0, 55, 0.881);
}
body {
    color: blue 
}


body ( )